.jumbotron {
    background: url('../imgs/balloon-heart-love-romance.jpg') top center;
    background-size: cover;
    margin-top: 1em;
    padding-top: 10em;
    padding-bottom: 10em;
}

#sponsors {
    /*border: 1px solid pink;*/
}

.sponsor_logos {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#about_us {
    padding-top: 50px;
}