/* Fonts
font-family: 'Marck Script', cursive;
font-family: 'Anton', sans-serif; 
font-family: 'Merriweather Sans', sans-serif;
*/

body{
    font-family: 'Merriweather Sans', sans-serif;
}

.jumbotron {
    background: url('../imgs/balloon-heart-love-romance.jpg') top center;
    opacity: .6;
    background-size: cover;
    margin-top: 1em;
    padding-top: 10em;
    padding-bottom: 10em;
    height: 500px;
}

#sponsors {
    /* border: 1px solid pink; */
    margin-bottom: 25px;
}

/* .sponsors_heading{
    margin-top: 25px;
} */

.sponsor_logos {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* #about_us {
    padding-top: 0px;
} */

#about_header_text {
    font-family: 'Marck Script', cursive;
}

#walk-banner {
    height: 100px;
    background-color: #fce4ec;
    margin-bottom: 10px;
    border-radius: 5px;
}

#walk-banner a {
    text-decoration: none;
}

#walk-banner 

.walk-banner-header {
    color: #4FC3F7  ;
}

.cards{
    height: 200px;
    margin-top: 10px;
    
}

.card-items{
    /* background-color: #ECEFF1; */
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

#walk-info-card{

}

#content-card{

}

#sponsor-card{

}
