/* font-family: 'Great Vibes', cursive; */

#header h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

.row div {
    padding: 20px 10px;
    border: 1px solid black;
}

#restartButton a {
    color: black;
    font-weight: 600;
}

/* FOOTER */
#footer {
    position: absolute;
    bottom: 0;
}